.produto{    
    display: inline-block;
    vertical-align: top;    
    height: 400px;
    width: 320px;
    margin: 20px 10px;
    padding: 4px;
    background-color: #fff;
    border-radius: 5px;  
    transition: all 0.3s;    
}

.produto:hover{
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);  
}

.produto img{
    width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}

.produto-info{
    padding: 10px;
    height: 90px;        
}

.produto-info h4{
    text-align: center;  
    font-size: 3em;
    font-weight: 100;
    margin: 0px;
    color: #5f4f37;
    font-weight: bold;
}

.produto-info .descricao{
    text-align: justify;    
    font-size: 2em;       
}