.img-home{
    width: 100%;
}

.main{
    padding: 30px;    
    position: relative;    
}

.main .constr{
    display: inline-block;    
    padding: 30px;
    max-width: 100%;
    width: auto;
}

.main img{
    display: inline-block;    
    padding: 30px;
    max-width: 500px;
    width: auto;
}

.main h1{
    font-size: 40px;
    text-align: center;
}

.main h2{
    position: relative;
    padding-top: -40px;
    padding: -40px 300px;
}

.main div{
    text-align: justify;
    align-items: center;
    font-size: 20px;
    padding: 0 10%;
}

.titulo{
    text-align: center;    
    background-image: linear-gradient(to left, #524129, #705c40);
    color: #f0e3d1;
    padding: 30px;
    margin: 0;
    font-size: 30px;
}

.conteudo-divs{
    margin: 5%;
    display: inline-block;
}

.conteudo-divs h2{
    margin: 0px;
    font-size: 2.6em;
    padding: 100px 10px 0px 10px;
}

/* CARDS */
.produto{    
    display: inline-block;
    vertical-align: top;    
    height: 400px;
    width: 320px;
    margin: 20px 10px;
    padding: 4px;
    background-color: #fff;
    border-radius: 5px;  
    transition: all 0.3s;    
}

.produto:hover{
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);  
}

.produto img{
    width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}

.produto-info{
    padding: 10px;
    height: 90px;        
}

.produto-info h4{
    text-align: center;  
    font-size: 3em;
    font-weight: 100;
    margin: 0px;
    color: #5f4f37;
    font-weight: bold;
}

.produto-info .descricao{
    text-align: justify;    
    font-size: 2em;       
}

/* SERVICOS */
.producao img{
    padding: 10px;
    max-width: 50%;
    max-height: 50%;
}

.conteudo-divs p{
    text-align: justify;
    margin: 0 20%;  
}

@media(max-width: 950px) {
    .main h1{
        font-size: 30px;
        text-align: center;
        padding: 10px;
    }
    
    .main div{
        text-align: justify;
        align-items: center;        
        padding: 0 5%;
    }

    .main img{
        display: block;
        padding: 10px;
        max-width: 100%;
        width: auto;
    }

    .mapa{                
        max-width: 100%;
    }

    .conteudo-divs{
        text-align: justify;        
        margin: 10%;        
    }

    .produto{        
        height: 350px;
        width: 270px;             
    }

    .producao img{
        margin: 10px;
        max-width: 100%;        
    }

    .conteudo-divs h2{        
        font-size: 1.5em;
        text-align: center;        
    }

    .conteudo-divs p{
        text-align: justify;
        margin: 0 8%;  
    }
}


.mapa{
    width: 100%;
    height: 40em;
}


/* subtitulo */
.sub{
    margin: 0;
    font-size: 20px;
    background-color: #f0e3d1;
    padding: 2% 15%;
    color: #524129;
    font-size: 1.1em;
}

.sub a{
    text-decoration: none;
    color: #524129;
    transition: all 120ms;  
}

.sub a:hover{
    color: #e08b12;
}

.sub span{
    vertical-align: super;
}

