.img-home{
    max-width: 100%;
    width: auto; 
    display: table;
    position: relative;
}

.main{
    padding: 30px;    
    position: relative;    
}

.main .constr{
    display: inline-block;    
    padding: 30px;
    max-width: 100%;
    width: auto;
}

.main img{
    display: inline-block;    
    padding: 30px;
    max-width: 500px;
    width: auto;
}

.main h1{
    font-size: 40px;
    text-align: center;
}

.main h2{
    position: relative;
    padding-top: -40px;
    padding: -40px 300px;
}

.main div{
    text-align: justify;
    align-items: center;
    font-size: 20px;
    padding: 10px 300px;
}

.titulo{
    text-align: center;    
    background-image: linear-gradient(to left, #524129, #705c40);
    color: #f0e3d1;
    padding: 30px;
    margin: 0;
    font-size: 30px;
}

.conteudo-divs{
    margin: 70px;    
}

.conteudo-divs h2{
    margin: 0px;
    font-size: 2.6em;
    padding: 100px 10px 0px 10px;
}

.conteudo-divs .texto{
    text-align: justify;
    padding: 0px 300px;
}

/* CARDS */
.produto{    
    display: inline-block;
    vertical-align: top;    
    height: 500px;
    width: 420px;
    margin: 20px 10px;
    padding: 2px;
    background-color: #fff;
    border-radius: 10px;  
    transition: all 0.3s;
}

.produto:hover{
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);  
}

.produto img{
    width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}

.produto-info{
    padding: 10px;
    height: 90px;        
}

.produto-info h4{
    text-align: center;  
    font-size: 3em;
    font-weight: 100;
    margin: 0px;
    color: #5f4f37;
    font-weight: bold;
}

.produto-info .descricao{
    text-align: justify;    
    font-size: 2em;       
}

/* SERVICOS */
.producao img{
    padding: 10px;
    max-width: 50%;
    max-height: 50%;
}

@media(max-width: 720px) {
    .main h1{
        font-size: 30px;
        text-align: center;
        padding: 10px;
    }
    
    .main div{
        text-align: justify;
        align-items: center;
        font-size: 14px;
        padding: 10px 10px;
    }

    .main img{
        display: block;
        padding: 10px;
        max-width: 100%;
        width: auto;
    }

    .main iframe{
        width: 360px;
        height: 250px;            
    }

    .conteudo-divs{
        text-align: justify;
        padding: 0px;
        margin: 0px;
    }

    .produto{        
        height: 350px;
        width: 270px;             
    }

    .producao img{
        padding: 20px;
        max-width: 100%;        
    }

    .conteudo-divs .texto{
        text-align: justify;
        padding: 0px 20px;
    }

    .conteudo-divs h2{        
        font-size: 1.5em;
        text-align: center;
    }
}


