*{
    box-sizing: border-box;
}

header{
    grid-area: cabecalho;
}

main{
    grid-area: conteudo;
}

.rodape{    
    background: #75634a;
    color: #f0e3d1;
    padding: 7px 30px;
    border-top: solid 1px #472c11;
    grid-area: rodape;
}

.rodape2{
    grid-area: rodape2;
    background: #472c11;
    color: #f0e3d1;
    padding: 2px 40px;
    float: right;
}

.rodape2 .dev{
    float: right;
    font-size: 14px;
}

.rodape2 a{    
    text-decoration: none;
    color: #f0e3d1;
}

.rodape2 a:hover,
.rodape2 a.selected{    
    color: red;
}

.contato{
    display: inline-block;    
}

body{
    margin: 0;
    font-family: 'Arial';
    background-color: #f0e3d1;
    display: grid;
    min-height: 100vh;
    
    grid-template-rows: 80px 1fr 150px 20px;    
    grid-template-areas: 
        'cabecalho'
        'conteudo'
        'rodape'
        'rodape2';
}

.cabecalho{
    background: #fff;
    border-bottom: solid 5px #69401a;
    height: 80px;
    box-sizing: content-box;
}

.logo{
    display: inline-block;    
    margin: 8px 80px;
}

.logo img{
    max-height: 180x;
    max-width: 180px;
    width: auto;
    height: auto;
}

.menu-toggle{
    float: right;
    color: #f0e3d1;
    background-color: #75634a;
    border: solid 1px #a18966;
    border-radius: 5px;
    height: 40px;
    padding: 10px 12px;
    margin: 20px 15px;
    cursor: pointer;
    font-size: 16px;
}

.menu{
    display: inline-block;
    vertical-align: top;
    height: 80px;
    padding: 30px;     
    float: right;
}

.menu ul{
    margin: 0;
    padding: 0;
}

.menu li{
    display: inline-block;
}

.cabecalho a{
    text-decoration: none;
    color: #472c11;
    font-size: 1.3em;
}

.menu a{
    padding: 15px;
}

.menu a:hover,
.menu a.selected{
    background-color: #75634a;
    color: #fff;
}

.menu a.active{
    background-color: #75634a;
    color: #fff;
}


@media(min-width: 679px){
    .menu-toggle{
        display: none;
    }
}

@media(max-width: 680px) {
    .menu{
        display: none;
    }

    .rodape{
        display: block;
    }

    body{          
        grid-template-rows: 80px 1fr 1fr 20px;    
        grid-template-areas: 
            'cabecalho'
            'conteudo'
            'rodape'
            'rodape2';
    }
}