*{
    box-sizing: border-box;
}

header{
    grid-area: cabecalho;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

main{
    grid-area: conteudo;
}

body{
    margin: 0;
    font-family: 'Arial';
    background-color: #f0e3d1;
    display: grid;
    min-height: 100vh;
    
    grid-template-rows: 80px 1fr 100px 30px;    
    grid-template-areas: 
        'cabecalho'
        'conteudo'
        'rodape'
        'rodape2';
}

.cabecalho{
    position: sticky;
    background: #fff;    
    box-shadow: 0 0 3px 0 #000;
    height: 80px;
    box-sizing: content-box;
}

.logo{
    display: inline-block;
    margin: 8px 80px;
}

.logo img{
    max-height: 180px;
    max-width: 180px;
    width: auto;
    height: auto;
}

.menu-toggle{
    float: right;
    color: #f0e3d1;
    background-color: #75634a;
    border: solid 1px #a18966;
    border-radius: 5px;
    height: 40px;
    padding: 10px 12px;
    margin: 20px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.1s linear;
}

.menu-toggle:hover{
    border: solid 1px #472c11;
}

.menu{    
    vertical-align: top;
    height: 80px;
    padding: 30px;     
    float: right;
}

.menu ul{
    margin: 0;
    padding: 0;
}

.menu li{
    display: inline-block;
}

.cabecalho a{
    text-decoration: none;
    color: #472c11;
    font-size: 1.3em;
}

.menu a{
    padding: 15px;
    /* transition: all 100ms linear; */
    transition: ease-in-out 120ms;
}

.menu a:hover{
    color: #e08b12;
    padding: 15px 15px 11px 15px;
    border-bottom: solid 4px #e08b12;    
    cursor: pointer;
}

.menu a.selected{
    background-color: #75634a;
    color: #fff;
}

.menu a.active{
    background-color: #75634a;
    color: #fff;
}

.rodape{    
    background: #75634a;
    color: #f0e3d1;
    padding: 20px 30px;
    border-top: solid 1px #472c11;
    grid-area: rodape;    
}

.rodape2{
    grid-area: rodape2;
    background: #472c11;
    color: #f0e3d1;
    padding: 7px 20px;
    float: right;
}

.rodape2 .dev{
    text-align: center;
    font-size: 14px;
}

.rodape2 a{    
    text-decoration: none;
    color: #f0e3d1;
    transition: all 0.1s linear;
}

.rodape2 a:hover,
.rodape2 a.selected{        
    color: lightgreen;
}

.contato{
    display: inline-block;    
}

@media(min-width: 679px){
    .menu-toggle{
        display: none;
    }

    #nav-slide{
        display: none;
    }
}

@media(max-width: 680px) {
    .menu{
        display: none;
    }

    .rodape{
        display: block;
    }

    #nav-slide{
        position: fixed;
        right: -200px;
        top: 60px;
        width: 200px;
        height: 0;
        background: #75634a;
        transition: right 0.2s linear;
        vertical-align: top;    
        padding: 10px;
        border-radius: 4px;
    }

    #nav-slide ul{
        margin: 0;
        padding: 0;
    }
    
    #nav-slide li{
        display: block;
        padding: 8px 0px;
        color: #f0e3d1;
        align-items: center;
        text-align: center;
        border-bottom: solid 2px #472c11;
    }
    
    .cabecalho a{
        color: #f0e3d1;        
    }

    #nav-slide a{
        padding: 15px;        
        transition: ease-in-out 120ms;
    }

    #nav-slide a:hover{        
        color: #e08b12;
    }

    .logo{
        display: inline-block;
        margin: 8px 30px;
    }
}

