.img-home{
    max-width: 100%;
    width: auto; 
    display: table;
    position: relative;
}

.main{
    padding: 30px;    
    position: relative;    
}

.main .constr{
    display: inline-block;    
    padding: 30px;
    max-width: 100%;
    width: auto;
}

.main img{
    display: inline-block;    
    padding: 30px;
    max-width: 500px;
    width: auto;
}

.main h1{
    font-size: 40px;
    text-align: center;
}

.main h2{
    position: relative;
    padding-top: -40px;
    padding: -40px 300px;
}

.main div{
    text-align: justify;
    align-items: center;
    font-size: 20px;
    padding: 10px 300px;
}

.titulo{
    text-align: center;    
    background-color: #75634a;
    color: #f0e3d1;
    padding: 30px;
    margin: 0;
    font-size: 30px;
}

@media(max-width: 720px) {
    .main h1{
        font-size: 30px;
        text-align: center;
        padding: 10px;
    }
    
    .main div{
        text-align: justify;
        align-items: center;
        font-size: 14px;
        padding: 10px 10px;
    }

    .main img{
        display: block;
        padding: 10px;
        max-width: 100%;
        width: auto;
    }

    .main iframe{
        width: 400px;
        height: 250px;        
    }        
}


/* CARDS */
.produtos{
    margin: 70px;
}

.produto{    
    display: inline-block;
    vertical-align: top;
    /* font-family: Verdana, sans-serif; */
    border: solid 1px #ccc;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
    height: 400px;
    width: 320px;
    margin: 20px 20px;
    padding: 5px;
    background-color: #fff;
    border-radius: 3px;    
}

.produto:hover{
    border: solid 1px #888;    
}

.produto img{
    width: 100%;
    max-height: 50%;    
}

.produto-info{
    padding: 10px;
    height: 90px;
    overflow: hidden;
    text-align: center;    
}

.produto-info h4{
    font-size: 2.5em;
    font-weight: 100;
    margin: 0px;
    font-weight: bold;
}

.produto-info p{
    text-align: justify;
    margin: 0;    
}


